<h1> {{primary.state}} </h1>

{{primary.winner}} won {{primary.delegates}}

<form action="/{{primary.state}}" method="POST">
  <input type="text" name="primary[winner]" placeholder="{{primary.winner}}" />
  <input type="text" name="primary[delegates]" placeholder="{{primary.delegates}}" />
  <button type="Submit"> Update </button>
</form>
